




@font-face {
    font-family: "AlternateGotNo3D";
    src: url("/fonts/AlternateGotNo2D.ttf") format("truetype");
  }


  

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  }




.home {
    /* height: 100vh; */
    width: 100%;
    float: left;
    /* height: auto; */
    height: 100vh;
    /* background-color: #010911; */
    background-color: #021529;
    margin-top: 70px;
    /* background: linear-gradient(#021529, #010911); */
    /* color: aqua; */
    /* padding: 30px */
    /* background-image: url('/imgs/app_bg_7.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
}

.home-container {
    width: 100%;
    height: 100%;
    /* display: flex; */
    margin: auto;
    /* background-color: rgb(36, 224, 36); */
    padding: 35px;
    /* background: linear-gradient(transparent, #010911); */
}

.home-header {
    width: 100%;
    height: 10%;
    /* background-color: black; */
    /* position: relative; */
    /* display: flex; */
    float: left;
}

.hero-l {
    width: 50%;
    height: 100%;
    float: left;
    /* background-color: #96b4d4; */
    padding: 5px;
}

.hero-r {
    width: 50%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    float: left;
    /* background-color: #db781b; */
    /* border: 1px solid #7ba2c9; */
    /* border-radius: 20px; */
}



.home-content {
    width: 100%;
    height: 85%;
    /* background-color: blueviolet; */
    /* position: relative; */
    /* display: flex; */
    float: left;
    padding-left: 20px;
    /* padding-right: 10px; */
    /* line-height: 1.5px;
    font-weight: bolder; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}

.home-content h1 {
    /* align-items: center; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* margin: auto; */
    /* vertical-align: middle;
    float: left; */
    line-height: 55px;
    font-weight: bolder;
    font-size: 70px;
    margin-top: 70px;
    color: #78e2f0;
    /* color: #96e2ec; */
    text-transform: uppercase;
    font-family: "AlternateGotNo3D";
    text-shadow: 2px 2px #021529;
    /* font-weight: lighter; */

}

.home-content h5 {
    font-size: 20px;
    color: #e4e9ee;
    font-family: "Montserrat";
    text-shadow: 2px 2px #021529;
}

.home-content .hero-button {
    width: 100%;
    height: 100px;
    /* background-color: beige; */
    float: left;
    margin-top: 0;
    padding: 15px 20px 15px 5px;
}

.home-content .hero-button .hero-button-1 {
    width: 300px;
    /* height: 70px; */
    height: auto;
    float: left;
    background-color: rgb(8, 118, 151);
    margin-left: 0;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    display: block;
    /* text-shadow: 2px 2px #021529; */
}

.home-content .hero-button .hero-button-2 {
    width: 200px;
    height: 70px;
    float: left;
    /* background-color: rgb(45, 208, 230); */
    margin-left: 40px;
    border-radius: 20px;
    /* border: 2px solid rgb(8, 118, 151); */
    border: 2px solid rgb(8, 118, 151);
    cursor: pointer;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(110, 199, 226);
    display: block;
    /* text-shadow: 2px 2px #021529; */
}




.home-footer {
    width: 100%;
    height: 5%;
    /* background-color: rgb(16, 184, 128); */
    /* position: relative; */
    /* display: flex; */
    float: left;
}





/* MOBILE DEVICES ONLY */
/* @media screen and (max-width: 1024px) { */
    @media screen and (max-width: 767px) {
    .home {
        margin-top: 70px;
        padding: 0;
        height: 100%;
        width: 100%;
        float: left;
        /* height: auto; */
        background-color: #021529;
        /* background: linear-gradient(transparent, #010911); */
       
    }

    .home-container {
        padding: 0;
        /* background-color: green; */
        /* background: linear-gradient(transparent, #010911); */
        height: auto;
        width: 100%;
        float: left;
        /* flex-direction: column; */
        /* height: auto; */
    }

    .hero-l {
        width: 100%;
        height: 20%;
        /* background-color: black; */
        padding: 10px 15px;
        margin-top: 50px;
        float: left;
        text-align: center;

        /* font-size: 30px; */
        /* text-align: center; */
        /* line-height: 20px; */
    }

    .hero-r {
        width: 100%;
        /* height: 90vh; */
        margin-top: 20px;
        float: left;
        /* margin-bottom: 50px; */
        padding: 0;
        /* background-color: bisque; */
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        /* height: auto; */
        /* border: none; */
    }

    /* .hero-r {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; */
        /* float: right; */
        /* background-color: #db781b; */
        /* border: 1px solid #7ba2c9; */
        /* border-radius: 20px; */
    /* } */

    /* .mainSlider-hero {
        height: auto;
        width: auto;
    } */


    .home-content {
        padding-left: 5px;
    }





    .hero-l .home-content h1 {
        font-size: 45px;
        font-weight: bolder;
        /* text-align: center; */
        line-height: 38px;
        margin-top: 0;
        text-align: left;
        text-transform: uppercase;
        /* color: #fff; */
        color: #96e2ec;
        text-shadow: 2px 2px #021529;
        font-family: "AlternateGotNo3D";
        /* font-weight: bolder; */
    }

    .home-content h5 {
        font-size: 20px;
        color: #dde6ee;
        font-weight: lighter;
        text-align: left;
        /* color: rgb(8, 118, 151); */
    }

    .home-content .hero-button {
        /* height: 50px; */
        height: auto;
        padding: 0 5px;
        /* background-color: aquamarine; */
        margin-top: 15px;
    }

    .home-content .hero-button .hero-button-1 {
        height: 47px;
        /* width: 45%; */
        width: auto;
       margin-top: 0;
        float: left;
        background-color: rgb(8, 118, 151);
        margin: auto;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px 20px;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        color: #ffffff;
        display: block;
    }

    .home-content .hero-button .hero-button-2 {
        height: 45px;
        width: 45%;
       margin-top: 0;
        float: right;
        /* background-color: red; */
        border: 2px solid rgb(8, 118, 151);
        margin: auto;
        border-radius: 10px;
        cursor: pointer;
        padding: 8px;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        color: rgb(110, 199, 226);
        display: block;

        /* font-size: 20px;
    font-weight: bolder;
    color: rgb(110, 199, 226); */
    }

    /* .hero-l h1 */

    
}



/* FOR TABLET SCREENS */


@media screen and (min-width: 768px) and (max-width: 991px) {
    .home {
        height: auto;
        width: 100%;
        float: left;
        /* background-color: #010911; */
        background-color: #021529;
        margin-top: 70px;
        /* color: aqua; */
        padding: 50px
    }

    .home-container {
        width: 100%;
        height: auto;
        /* display: flex; */
        margin: auto;
        /* background-color: red; */
        padding: 5px;
    }

    .hero-l {
        width: 100%;
        height: auto;
        float: left;
        /* background-color: #96b4d4; */
        padding: 5px;
        /* align-items: center; */
    }
    
    .hero-r {
        width: 100%;
        height: 100vh;
        float: left;
      
    }

    .home-content h1 {
     
        line-height: 35px;
        font-weight: bolder;
        font-size: 40px;
        margin-top: 20px;
        color: #96e2ec;
        text-transform: uppercase;
        text-align: left;
    
    }

    .home-content .hero-button .hero-button-1 {
        width: 200px;
        height: 70px;
        float: left;
        background-color: rgb(8, 118, 151);
        margin-left: 0;
        border-radius: 20px;
        cursor: pointer;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
        color: #ffffff;
        display: block;


    }
    
    .home-content .hero-button .hero-button-2 {
        width: 200px;
        height: 70px;
        float: left;
        /* background-color: rgb(45, 208, 230); */
        margin-left: 40px;
        border-radius: 20px;
        border: 2px solid rgb(8, 118, 151);
        cursor: pointer;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
        color: rgb(110, 199, 226);
        display: block;
    }

}